<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sleepy.eschedule.mapper.DayEventsMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.sleepy.eschedule.entity.DayEvents">
                    <id column="id" property="id" />
                    <result column="user_name" property="userName" />
                    <result column="name" property="name" />
                    <result column="begin_date" property="beginDate" />
                    <result column="end_date" property="endDate" />
                    <result column="repeated" property="repeated" />
                    <result column="repetition_step" property="repetitionStep" />
                    <result column="repeated_monthly_on" property="repeatedMonthlyOn" />
                    <result column="repeated_until" property="repeatedUntil" />
                    <result column="repeated_until_date" property="repeatedUntilDate" />
                    <result column="repeated_reps" property="repeatedReps" />
        </resultMap>

</mapper>
