<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sleepy.eschedule.mapper.TimeSlotsMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.sleepy.eschedule.entity.TimeSlots">
                    <id column="id" property="id" />
                    <result column="time_event_id" property="timeEventId" />
                    <result column="begin_local_time" property="beginLocalTime" />
                    <result column="end_local_time" property="endLocalTime" />
                    <result column="start_timezone_id" property="startTimezoneId" />
                    <result column="end_timezone_id" property="endTimezoneId" />
                    <result column="is_skipped" property="isSkipped" />
        </resultMap>

</mapper>
